<!DOCTYPE html>
<html lang="en">
    <%-include('partials/head')%>
<body>
    <%-include('partials/navBar')%>
    <img src="images/6016.jpg"/>
    <h1><%=userInfo.username%></h1>
    <hr>
    <p><%=userInfo.email%></p>
    <hr>
    <h3><%=userInfo.name%></h3>
<a href="/allUsers"><h3>View all Users</h3></a> 
</body>
</html>